body {
    background-color: #FF7B93;
    margin: 0;
    padding: 0;
    color: #F8F9EA;
    font-family: serif;
}

h1 {
    font-size: 12vw;
    text-align: center;
}

p {
    font-size: 2vw;
    text-align: center;
}

#nav {
    display: none;
}